* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFFFFF;
}

#page1 {
    width: 100%;
    height: 100%;
}

#nav {
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.1vw;
}

#nav-part1 {
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part1 h4 {
    font-size: 1.1vw;
    font-weight: 500;
}

#nav-part2 {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part2 button {
    padding: 12px 17.6px;
    padding: 0.8vw 1.1vw;
    border-radius: 40px;
    font-size: 1.1vw;
    font-weight: 600;
    border: none;
    background-color: #000;
    color: #fff;
    margin: 0 8px;
    cursor: pointer;
}

#nav-part2 button:nth-child(1) {
    background-color: transparent;
    color: #000;
}

#nav img {
    height: 13vh;
}

#content {
    height: calc(100% - 14vh);
    width: 100%;
    padding-top: 10vh;
}

#content h3 {
    background-color: #f2b0ea;
    padding: 8px 12.8px;
    width: fit-content;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1vw;
    font-weight: 100;
}

#content h1 {
    font-family: "Source Serif 4";
    font-size: 4.2vw;
    font-weight: 100;
    text-align: center;
    margin: 20px 0;
    line-height: 4.2vw;
}

#content h4 {
    font-size: 1.05vw;
    text-align: center;
    font-weight: 500;
}

#content button {
    padding: 16px 22.4px;
    border-radius: 50px;
    font-size: 0.95vw;
    font-weight: 600;
    border: none;
    background-color: #000;
    color: #fff;
    margin: 24px 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#bottom {
    height: 43vh;
    width: 100%;
    padding: 4px;
    gap: 30px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#bottom::-webkit-scrollbar {
    display: none;
}

.elem {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 17vw;
    background-color: royalblue;
    border-radius: 32px;
    overflow: hidden;
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.elem video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* .elem .text-bottom {
    height: 40%;
    width: 100%;
    bottom: 0;
    position: absolute;
    color: #fff;
} */


#page2 {
    margin-top: 13vh;
    padding-top: 80px;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    padding: 56px;
}

#page2 h1 {
    text-align: center;
    font-size: 3.15vw;
    font-weight: 500;
    margin-bottom: 40px;
}

.box {
    height: 40vh;
    width: 21vw;
    background-color: red;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    transition: all ease 0.5s;
    overflow: hidden;
    margin: 12px;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.box-bottom {
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.63));
    position: absolute;
    bottom: -40%;
    transition: all ease 0.5s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.box-bottom i {
    background-color: #fff;
    padding: 6.4px 7.2px;
    color: #000;
    border-radius: 50%;
    font-size: 1vw;
    font-weight: 600;
}

.box-bottom h5 {
    font-size: 1vw;
}

.box:hover .box-bottom {
    bottom: 0;
}

.box:hover {
    box-shadow: 0px 2px 20px rgba(123, 123, 123, 0.5);
}


